/* Import Google Fonts: Nunito, Poppins, Fira Code */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Nunito:wght@700;900&family=Poppins:wght@400;700&display=swap');

/* || GLOBAL STYLING */
:root {
    /* Set root font size to 7px for small screens */
    font-size: 43.75%;

    /* || Fonts */
    --font-head: 'Nunito', sans-serif;
    --font-body: 'Poppins', sans-serif;
    --font-game: 'Fira Code', monospace;

    /* || Font sizes */
    --font-size-lg: 2.2rem;
    --font-size-md: 2.1rem;
    --font-size-sm: 1.8rem;
    --font-size-game: 4rem;

    /* || Font weights */
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-reg: 400;

    /* || Line height */
    --line-height-lg: 2;
    --line-height-md: 1.75;
    --line-height-sm: 1.5;
    --line-height-xsm: 1.44;

    /* || Colours */
    --brand-background: hsla(189, 90%, 80%, 1);
    --brand-turquoise: hsla(189, 65%, 58%, 1);
    --brand-dark-turquoise: hsla(196, 100%, 12%, 1);
    --brand-green: hsla(70, 66%, 51%, 1);
    --brand-dark-green: hsla(93, 100%, 12%, 1);
    --brand-purple: hsla(292, 29%, 64%, 1);
    --brand-dark-purple: hsla(222, 100%, 5%, 1);
    --brand-dark-blue: hsla(235, 20%, 34%, 1);
    --brand-pink: hsla(317, 90%, 60%, 1);
    --text-color: #111111;
    --neutral-dark-grey: #55585b;
    --neutral-grey: #727578;
    --neutral-light-grey: #ebebeb;
    --white: #fffefe;
    --error-color: #b40000;
    --success-color: #006600;
    
    /* || Sizing */
    --width-xlg: 62rem;
    --width-lg: 51rem;
    --width-md: 40rem;
    --width-sm: 29rem;

    /* || Spacing */
    --spacing-xlg: 16rem;
    --spacing-lg: 12rem;
    --spacing-md: 6rem;
    --spacing-sm: 3rem;
}

@media all and (min-width: 1024px) {
    :root {
        /* Set root font size to 10px for large screens */
        font-size: 62.5%;
        --font-size-game: 5.6rem;
    }
}

/* CSS browser style reset */
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set base styling */
body {
    font-family: var(--font-body);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    background: var(--brand-background);
    color: var(--text-color);
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: url("../images/background.svg") no-repeat bottom center / 120%;
}

@media all and (min-width: 1024px) {
    .wrapper {
        background: url("../images/background.svg") no-repeat bottom center / 70%;
    }
}

/* || TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-family: var(--font-head);
    font-weight: var(--font-weight-black);
}

h1 {
    font-size: 6.74rem;
    line-height: var(--line-height-xsm);
}

h2 { 
    font-size: 5.05rem; 
    line-height: var(--line-height-sm);
    margin-bottom: var(--spacing-sm);
}

h3 { 
    font-size: 3.79rem; 
}

h4 {
    font-size: 2.84rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-lg);
}

p {
    max-width: var(--width-xlg);
    margin: 0 0 3rem 0;
}

/* || Links */
a {
    color: var(--text-color);
    text-decoration: none;
    padding: 1rem 2rem;
}

a:hover,
a:active {
    transition: all .3s ease-in-out;
    color: var(--brand-dark-blue);
}

button,
.button {
    display: block;
    width: 100%;
    padding: 2rem 2.2rem;
    border-radius: 12px;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    color: var(--brand-dark-turquoise);
    background: var(--brand-turquoise);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3rem;
}

button:hover,
.button:hover {
    transition: all .3s ease-in-out;
    background: var(--brand-dark-blue);
    color: var(--white);
}

@media all and (min-width: 1024px) {
    button,
    .button {
        padding: 2.2rem 3rem;
    }
}

/* || HEADER */
header {
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

#logo {
    width: 100%;
    margin: 15px 0;
}

#logo h1 {
    font-size: 3.2rem;
    text-align: center;
}

#logo h1 a:hover {
    color: var(--text-color);
}

#logo h1 img {
    width: 3.5rem;
    height: auto;
    position: relative;
    top: 4px;
}

/*|| Main navigation */
nav {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav i {
    vertical-align: -2px;
    display: none;
}

.nav__item a {
    display: block;
    padding: 15px;
    color: var(--neutral-dark-grey);
}

.nav__item--active a {
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
}

.nav__item--active i {
    color: var(--brand-turquoise);
    display: inline-flex;
}

.nav__item a:hover,
.nav__item--active a:hover {
    color: var(--brand-pink);
}

@media all and (min-width: 1024px) {
    header {
        flex-direction: row;
        max-width: 92rem;
        margin: var(--spacing-sm) auto;
        border-radius: 12px;
    }

    #logo {
        width: 40%;
    }

    #logo h1 {
        text-align: left;
    }
    
    .nav {
        justify-content: flex-end;
        padding: 10px 10px 5px 0;
    }
}

/* || FOOTER */
footer {
    background: var(--brand-dark-blue);
    padding: 19px 0 10px;
}

footer a {
    color: var(--white);
}

footer a:hover {
    color: var(--brand-background);
}

.social {
    max-width: 128rem;
    margin: 0 auto;
}

.social__links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

@media all and (min-width: 1024px) {
    .social__links {
        justify-content: flex-start;
    }   
}

/* || Main Content */
.main {
    max-width: 110rem;
    margin: 0 auto;
    width: 100%;
    padding: var(--spacing-sm) 0;
}

#content--home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content--game {
    display: none;
}

.intro {
    max-width: var(--width-xlg);
    padding: var(--spacing-sm);
}

.choose-level,
.white-box {
    background: var(--white);
    padding: var(--spacing-sm);
    border-radius: 12px;
    margin-bottom: var(--spacing-sm);
    text-align: center;
}

.choose-level p {
    font-weight: var(--font-weight-bold);
    margin-top: 1rem;
}

#easy {
    color: var(--brand-dark-turquoise);
    background: var(--brand-turquoise);
}

#medium {
    color: var(--brand-dark-purple);
    background: var(--brand-purple);
}

#hard {
    color: var(--brand-dark-green);
    background: var(--brand-green);
}

#easy:hover,
#medium:hover,
#hard:hover {
    color: var(--white);
    background: var(--brand-dark-blue);
}

.ripley {
    display: flex;
    justify-content: center;
}

#ripley {
    z-index: 1;
    width: 120px;
    position: relative;
    bottom: -22px;
}

@media all and (min-width: 1024px) {
    .main {
        padding: var(--spacing-md) 0 0 0;
    }

    .intro {
        padding: 0 var(--spacing-sm);
    }

    #content--home {
        flex-direction: row;
    }

    .choose-level {
        margin-bottom: 0;
    }

    .white-box {
        padding: var(--spacing-sm);
    }

    #ripley {
        width: 212px;
        height: auto;
        bottom: -32px;
    }
}

/* || GAME */
.game-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "donut"
        "intro"
        "keyboard";
}

.game-grid > .intro {
    grid-area: intro;
}

.donut--game {
    grid-area: donut;
}

#game-word {
    font-family: var(--font-game);
    font-size: var(--font-size-game);
    letter-spacing: 1rem;
    font-variant-ligatures: none;
}

#hint {
    font-size: 1.6rem;
    color: var(--brand-dark-blue);
    font-style: italic;
}

#restart {
    display: none;
}

.remaining-donut {
    font-size: var(--font-size-sm);
    margin-bottom: 2rem;
    color: var(--brand-dark-blue);
    text-align: center;
}

#donut {
    width: 150px;
    height: auto;
}

#keyboard {
    grid-area: keyboard;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.key {
    color: var(--text-color);
    text-transform: lowercase;
    font-size: var(--font-size-lg);
    background: var(--white);
    border-radius: 12px;
    margin: .5rem;
    padding: 1rem 1.7rem 1.1rem;
    width: 45px;
    height: 45px;
}

.key:hover,
.key:active {
    cursor: pointer;
    background: var(--neutral-light-grey);
    color: var(--brand-pink);
}

.key:disabled {
    opacity: 0.5;
    cursor: default;
}

@media all and (min-width: 1024px) {
    .game-grid {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "intro donut"
            "keyboard keyboard";
    }

    .donut--game {
        padding: var(--spacing-sm) var(--spacing-md);
    }

    #donut {
        width: 250px;
        height: auto;
    }

    .key {
        margin: 1rem;
        padding: 1.3rem 2rem 1.4rem;
        width: 55px;
        height: 55px;
    }
}

/* || CONTACT */
#content--contact {
    display: flex;
    justify-content: center;
}

.form {
    background: var(--white);
    border-radius: 12px;
    padding: var(--spacing-sm);
    max-width: var(--width-xlg);
}

.form-field {
    margin: 5px 0 var(--spacing-sm) 0;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-size: var(--font-size-sm);
}

.form-field input,
.form-field textarea {
    border: 1px solid var(--neutral-light-grey);
    color: var(--neutral-grey);
    line-height: var(--line-height-md);
    background: var(--white);
    border-radius: 8px;
    padding: 12px 16px;
    font-size: var(--font-size-md);
    display: block;
    width: 100%;
}

.form-field input:focus,
.form-field textarea:focus {
    outline: none;
}

.form-field.error input,
.form-field.error textarea {
    border-color: var(--error-color);
}

.form-field.success input,
.form-field.success textarea {
    border-color: var(--success-color);
}

.form-field small {
    color: var(--error-color);
}