/* Import Google Fonts: Nunito, Poppins, Fira Code */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Nunito:wght@700;900&family=Poppins:wght@400;700&display=swap');

/* || GLOBAL STYLING */
:root {
    /* Set root font size to 8px for small screens */
    font-size: 50%;

    /* || Fonts */
    --font-head: 'Nunito', sans-serif;
    --font-body: 'Poppins', sans-serif;
    --font-game: 'Fira Code', monospace;

    /* || Font sizes */
    --font-size-lg: 2.2rem;
    --font-size-md: 2.1rem;
    --font-size-sm: 1.8rem;
    --font-size-game: 5.6rem;

    /* || Font weights */
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-reg: 400;

    /* || Line height */
    --line-height-lg: 2;
    --line-height-md: 1.75;
    --line-height-sm: 1.5;
    --line-height-xsm: 1.44;

    /* || Colours */
    --brand-background: hsla(189, 90%, 80%, 1);
    --brand-turquoise: hsla(189, 65%, 58%, 1);
    --brand-yellow: hsla(45, 99%, 54%, 1);
    --brand-orange: hsla(16, 88%, 58%, 1);
    --brand-green: hsla(70, 66%, 51%, 1);
    --brand-purple: hsla(292, 29%, 64%, 1);
    --brand-dark-blue: hsla(235, 20%, 34%, 1);
    --text-color: #111111;
    --neutral-grey: #727578;
    --neutral-light-grey: #ebebeb;
    --white: #fffefe;
    
    /* || Sizing */
    --width-xlg: 62rem;
    --width-lg: 51rem;
    --width-md: 40rem;
    --width-sm: 29rem;

    /* || Spacing */
    --spacing-xlg: 16rem;
    --spacing-lg: 12rem;
    --spacing-md: 6rem;
    --spacing-sm: 3rem;
}

@media all and (min-width: 1024px) {
    :root {
        /* Set root font size to 10px for large screens */
        font-size: 62.5%;    
    }       
}

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    background: var(--brand-background);
    color: var(--text-color);
}

.wrapper,
.wrapper--game {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper {
    background: url("../images/background-home.svg") no-repeat bottom center / 120%;
}

.wrapper--game {
    background: url("../images/background.svg") no-repeat -120px -30px / 80%;
}

@media all and (min-width: 1024px) {
    .wrapper {
        background: url("../images/background-home.svg") no-repeat bottom center / 70%;
    }

    .wrapper--game {
        background: url("../images/background.svg") no-repeat -120px -30px / 80%;
    }
}

/* || TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-family: var(--font-head);
    font-weight: var(--font-weight-black);
}

h1 {
    font-size: 6.74rem;
    line-height: var(--line-height-xsm);
}

h2 { 
    font-size: 5.05rem; 
    line-height: var(--line-height-sm);
}

h3 { 
    font-size: 3.79rem; 
}

h4 {
    font-size: 2.84rem;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-lg);
}

p {
    max-width: var(--width-xlg);
    margin: 0 0 3rem 0;
}

/* || Links */
a {
    color: var(--text-color);
    text-decoration: none;
    transition: all .3s ease-out;
    padding: 1rem 2rem;
}

a:hover,
a:active {
    color: var(--brand-background);
}

.button {
    padding: 2.2rem 3rem 2.2rem;
    border-radius: 12px;
    font-weight: var(--font-weight-bold);
    background: var(--brand-orange);
    cursor: pointer;
    transition: all .3s ease-out;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    background: var(--brand-dark-blue);
}

/* || HEADER */
header {
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

#logo {
    width: 100%;
    margin: 15px 0;
}

#logo h1 {
    font-size: 3.2rem;
    text-align: center;
}

#logo h1 img {
    width: 3.5rem;
    height: auto;
    position: relative;
    top: 4px;
}

/*|| Main navigation */

nav {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav__item a {
    display: block;
    padding: 15px;
}

.nav__item--active a {
    color: var(--brand-orange);
}

.nav__item--active a:hover {
    color: var(--brand-turquoise);
}

.active .nav__item {
    display: block;
}

@media all and (min-width: 1024px) {
    header {
        flex-direction: row;
        max-width: 92rem;
        margin: var(--spacing-sm) auto;
        border-radius: 12px;
    }

    #logo {
        width: 40%;
    }

    #logo h1 {
        text-align: left;
    }
    
    .nav {
        justify-content: flex-end;
        padding: 10px 10px 5px 0;
    }
}

/* || FOOTER */

footer {
    background: var(--brand-dark-blue);
    padding: 19px 0 10px;
}

footer a {
    color: var(--white);
}

.social {
    max-width: 128rem;
    margin: 0 auto;
}

.social__links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

@media all and (min-width: 1024px) {
    .social__links {
        justify-content: flex-start;
    }   
}

/* || HOME - Main Content */

.main {
    max-width: 110rem;
    margin: 0 auto;
    width: 100%;
    padding: var(--spacing-sm) 0;
}

.content,
.content--game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__intro {
    max-width: var(--width-xlg);
}

.content > .content__intro {
    padding: var(--spacing-sm);
}

.content__intro h2 {
    margin-bottom: var(--spacing-sm);
}

.content__level {
    background: var(--white);
    padding: var(--spacing-sm);
    border-radius: 12px;
    margin-bottom: var(--spacing-sm);
}

.content__level p {
    font-weight: var(--font-weight-bold);
}

.content__level .button {
    display: block;
    margin-bottom: 3rem;
}

#easy {
    background: var(--brand-turquoise);
}

#medium {
    background: var(--brand-purple);
}

#hard {
    background: var(--brand-orange);
}

#easy:hover,
#medium:hover,
#hard:hover {
    background: var(--brand-dark-blue);
}

.ripley {
    display: flex;
    justify-content: center;
}

#ripley {
    z-index: 1;
    width: 120px;
    position: relative;
    bottom: -42px;
}

@media all and (min-width: 1024px) {
    .main {
        padding: var(--spacing-md) 0 0 0;
    }

    .content,
    .content--game {
        flex-direction: row;
    }

    .content__level {
        margin-bottom: 0;
    }

    #ripley {
        width: 212px;
        height: auto;
        bottom: -34px;
    }
}

/* || GAME */
#game-word {
    font-family: var(--font-game);
    font-size: var(--font-size-game);
    letter-spacing: 1rem;
}

#keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.key {
    font-size: var(--font-size-lg);
    background: var(--white);
    border-radius: 12px;
    margin: 1rem;
    padding: 1.3rem 2rem 1.4rem;
    width: 55px;
    height: 55px;
}

.key:hover {
    cursor: pointer;
    background: var(--neutral-light-grey);
}